# .gitignore file for dotfiles repo, not global config

# Machine-local dotfile overrides (NOT tracked)
# Should be any file ending in .local, e.g. .bashrc.local, .vimrc.local, etc.
*.local

# Local editor config directories
.vscode

# Logs
*.log
